
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}


@font-face {
    font-family: "norse";
    src: local("fonts/Norse-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}
#left {
   display: flex; 
   flex-direction: column;
   align-items: center;
   width: 33vw;
   height: 100vw;
   background: #000 url("photo-1585202900225-6d3ac20a6962.avif");
}

#left p {
    position: relative;
    top: 85vh;
    font-size: 10px;
    color: white;
}

#title {
    display: flex;
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 120px;
    width: 33vw;
}

#title img {
    height: 100px;
    width: auto;
}

#title p {
    font-family: "norse";
    color: white;
}

#right {
    display: flex;
    flex-direction: column;
    width: 67vw;
}

#top {
    display: flex;
    flex-direction: column;
    height: 34vh;
    width: auto;
}

#top p {
    padding: 10px;
    position: relative;
    top: 15vh;
    font-weight: bold;
}

fieldset {
    height: 33vh;
    width: auto;
    box-shadow: 4px 3px 14px 4px rgba(0,0,0,0.40);
    position: relative;
}

legend {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 5vw;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    top: 5vh;
    left: 3vw;
    width: 50vw;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    width: 20vw;
}

input {
    width: 17vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #CBCBCB;
    border-radius: 4px;
    font-size: 1.5em;
}

label {
    display: inline-block;
    color: #626262;
}

#bottom {
    display: flex;
    flex-direction: column;
    height: 33vh;
    width: auto;
    position: relative;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    position: relative;
    top: 5vh;
    right: 15vw;
}

button {
    font-size: 20px;
    height: 40px;
    width: 200px;
    color: white;
    background-color: #596D48;
    border-radius: 5px;
    border: none;
}

a {
    color: #0f6319;
}
