body {
    display: flex;
}
#left {
   display: flex; 
   flex-direction: column;
   align-items: center;
   width: 33vw;
   height: 100vw;
   background: url("photo-1585202900225-6d3ac20a6962.avif");
}

#title {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 120px;
    width: 33vw;
}

#left p {
    color: white;
}

#title img {
    height: 100px;
    width: auto;
}

#right {
    display: flex;
    flex-direction: column;
    width: 67vw;
}

#top {
    display: flex;
    flex-direction: column;
    height: 34vw;
    width: auto;
}

form {
    height: 33vw;
    width: auto;
}

#bottom {
    display: flex;
    flex-direction: column;
    height: 33vw;
    width: auto;
}
